.Ball{
    background-color:  rgb(255, 181, 71);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 3em;
    height: 2.25em;
    padding-top: 0.75em ;

    text-align: center;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.5;
}